*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: bisque;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}