*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #000090; */
  background-color: #161617;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}


h1 {
  color: #ffffff;
  margin: 20px 0 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}


.card {
  /* border: 1px solid #021393; */
  border-radius: 8px;
  padding: 10px;
  /* background-color: #0037ae; */
  background-color: #313132;
}

.card img {
  width: 100%;
  /* width: 150px; */
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  object-fit: cover;
}

.card p {
  margin: 10px 0 5px;
  font-size: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  background-color: #ac9805;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #b39e00;
}

.page-number {
  font-weight: bold;
  font-size: 16px;
}

.loading {
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  margin: 100px auto;
  color: #646464;
}

